.board {
  background: var(--COLOR-WET-ASP);
  text-align: center;
}

.boardTitle {
  font-size: 2rem;
  color: white;
  padding: 3rem;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
}
